body {
  font-size: 16px;
  color: #fff;
  background-color: #827197;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #efb3cc; /*Budding Rose*/
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 17px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #8963ba;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color: #8963ba;
}

h2{
  color: #efefef;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #efb3cc;
  margin-bottom: 40px;
  line-height: 1;
}

#Excerpt {
  background-color: #84acce;
  border-radius: 7px;
  box-shadow: 600px #efb3cc;
  padding: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
#Excerpt h3{
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 1px #efb3cc;
  }

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #8963BA;
  text-align: center;
}
#nav-list a:hover {
  background: #c9b8df;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #c9b8df; /*Pale violet*/
  border: 1px solid #8963BA;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #8963BA;
}

/********** Medium devices only **********/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container {
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsible-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsible-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 5vw;
    margin: 5px;
  }
  /* End Header */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
